* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  background-color: #000000;
}
@media (min-width: 960px) {
  .main {
    background: linear-gradient(
      107.17deg,
      #958c40 29.35%,
      rgba(156, 0, 210, 0.8) 78.73%
    );
  }
}
.main__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  padding: 100px 0;
  color: #ffffff;
  margin: 0;
}
@media (min-width: 960px) {
  .main__title {
    text-align: start;
    padding: 200px 0 303px 86px;
  }
}

.portfolio-section {
  background-color: #000000;
  padding: 0 42px 60px;
  text-align: center;
}
@media (min-width: 960px) {
  .portfolio-section {
    padding: 100px;
  }
}

.portfolio-content {
  display: grid;
  justify-content: center;
  gap: 60px;
}
@media (min-width: 960px) {
  .portfolio-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 1030px) {
  .portfolio-content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.portfolio-card {
  max-width: 500px;
  font-family: "Poppins";
  color: #ffffff;
}

.portfolio-card-title {
  margin: 15px 0 0 0;
  font-weight: 700;
  font-size: 24px;
}
.portfolio-card-text {
  font-weight: 400;
  font-size: 16px;
}
.portfolio-card-link {
  color: #ffffff;
}
